.myJumbo {
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	height: 750px;
	width: 100%;
	background-image: url('../../media/people4.jpg');
	background-repeat: no-repeat;
	background-position: center;
	color: black;
}
.lead {
	color: white;
}